<!-- Tabla Marcas -->
<div class="table-responsive">
    <table class="table table-bordered mt-3 mb-auto text-center align-middle">
        <thead class="table-light">
            <tr>
                <th class="lopendeopdrachten text-center" colspan="4">Marcas Disponibles</th>
            </tr>
            <tr>
                <th>Tipo Marca</th>
                <th>Estado</th>
                <th>Fecha Inicio Operación</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of dataMarcas">
                <td>{{ item.tipo }}</td>
                <td [ngStyle]="{ 'color': item.estado === 'Disponible' ? 'green' : 'red' }">{{ item.estado }}</td>
                <td>{{ item.fecha_inicio_operacion }}</td>
                <td>
                    <img *ngIf="item.estado === 'Disponible'" (click)="cambiarEstado(item)" width="30" height="30" src="assets/img/error.svg">
                    <img *ngIf="item.estado === 'No disponible'" (click)="cambiarEstado(item)" width="30" height="30" src="assets/img/correct.svg">
                </td>
            </tr>
        </tbody>
    </table>
</div>