<!-- Tabla Marcas -->
<div class="table-responsive">
    <table class="table table-bordered mt-3 mb-auto text-center align-middle">
        <thead class="table-light">
            <tr>
                <th class="lopendeopdrachten text-center" colspan="4">Marcas Disponibles</th>
            </tr>
            <tr>
                <th>Tipo Marca</th>
                <th>Estado</th>
                <th>Fecha Inicio Operación</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let items of Marcas; let i = index">
                <td>{{ items.tipo }}</td>
                <td [ngStyle]="{ 'color': items.estado === 'Disponible' ? 'green' : 'red' }">{{ items.estado }}</td>
                <td>{{ items.fecha_inicio_operacion }}</td>
                <td>
                    <!-- <img width="30" height="30" 
                    [ngClass]="items.btn === 'Remover' ? 'remove-image' : 'enable-image'"
                    [src]="items.btn === 'Remover' ? 'assets/img/error.svg' : 'assets/img/correct.svg'"
                    (click)="changeStatus(i)" alt="Cambiar Estado"> -->
                </td>
            </tr>
        </tbody>
    </table>
</div>