<!-- Tabla Delegaciones -->
<div class="table-responsive">
    <table class="table table-bordered mt-3 mb-auto align-middle">
        <thead class="table-light">
            <tr>
                <th class="lopendeopdrachten text-center" colspan="7">Delegaciones</th>
            </tr>
            <tr class="text-center">
                <th>Rnc Delegado</th>
                <th>Es Firmante Autorizado</th>
                <th>Es Solicitante Autorizado</th>
                <th>Es Aprobador Comercial</th>
                <th>Es Administrador</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let items of Delegaciones; let i = index" class="text-center">
                <ng-container *ngIf="editingRow !== i; else editFields">
                    <td>{{ items.rnc }}</td>
                    <td [ngStyle]="{ 'color': items.firmanteAutorizado === '✓' ? 'green' : 'red' }">{{ items.firmanteAutorizado }}</td>
                    <td [ngStyle]="{ 'color': items.solicitanteAutorizado === '✓' ? 'green' : 'red' }">{{ items.solicitanteAutorizado }}</td>
                    <td [ngStyle]="{ 'color': items.aprobadorComercial === '✓' ? 'green' : 'red' }">{{ items.aprobadorComercial }}</td>
                    <td [ngStyle]="{ 'color': items.administrador === '✓' ? 'green' : 'red' }">{{ items.administrador }}</td>
                    <td [ngStyle]="{ 'color': items.estado === 'Activo' ? 'green' : 'red' }">{{ items.estado }}</td>
                    <td>
                        <button (click)="startEditing(i)" class="btn"><img width="30" height="30" src="assets/img/edit.svg"></button>
                        <button (click)="setRncModal(items.rnc);
                                        setFechaRegistro(items.fechaRegistro);
                                        setFechaActualizacion(items.fechaActualizacion);
                                        setIdentificacion(items.identificacion)"
                                        class="btn"
                                        data-bs-toggle="modal"
                                        data-bs-target="#exampleModal1">
                                        <img width="30" height="30" src="assets/img/view-more.svg"></button>
                    </td>
                </ng-container>
                <ng-template #editFields>
                    <td>
                        <label>{{ items.rnc }}</label>
                    </td>
                    <td>
                        <div class="btn-group">
                            <button class="btn btn-light btn-icon" 
                                    (click)="selectButton(i, 0, true);
                                    items.firmanteAutorizado = '✓'"
                                    [ngClass]="{'selected': buttonStates[0][i]}">✓</button>
                            <button class="btn btn-light btn-icon" 
                                    (click)="selectButton(i, 0, false);
                                    items.firmanteAutorizado = 'X'"
                                    [ngClass]="{'selected': !buttonStates[0][i]}">X</button>
                        </div>
                    </td>
                    <td>
                        <div class="btn-group">
                            <button class="btn btn-light btn-icon" (click)="selectButton(i, 1, true);
                                    items.solicitanteAutorizado = '✓'"
                                [ngClass]="{'selected': buttonStates[1][i]}">✓</button>
                            <button class="btn btn-light btn-icon" (click)="selectButton(i, 1, false);
                                    items.solicitanteAutorizado = 'X'"
                                [ngClass]="{'selected': !buttonStates[1][i]}">X</button>
                        </div>
                    </td>
                    <td>
                        <div class="btn-group">
                            <button class="btn btn-light btn-icon" (click)="selectButton(i, 2, true);
                                    items.aprobadorComercial= '✓'"
                                [ngClass]="{'selected': buttonStates[2][i]}">✓</button>
                            <button class="btn btn-light btn-icon" (click)="selectButton(i, 2, false);
                                    items.aprobadorComercial = 'X'"
                                [ngClass]="{'selected': !buttonStates[2][i]}">X</button>
                        </div>
                    </td>
                    <td>
                        <div class="btn-group">
                            <button class="btn btn-light btn-icon" (click)="selectButton(i, 3, true);
                                    items.administrador = '✓'" [ngClass]="{'selected': buttonStates[3][i]}">✓</button>
                            <button class="btn btn-light btn-icon" (click)="selectButton(i, 3, false);
                                    items.administrador = 'X'" [ngClass]="{'selected': !buttonStates[3][i]}">X</button>
                        </div>
                    </td>
                    <td>
                        <select class="form-select" name="miselect" [(ngModel)]="items.estado"
                            aria-label="Default select example">
                            <option [value]="item" *ngFor="let item of listStatus">{{item}}</option>
                        </select>
                    </td>
                    <td>
                        <button class="btn" (click)="saveChanges()"><img width="30" height="30" src="assets/img/correct.svg"></button>
                        <button class="btn" (click)="cancelEditing()"><img width="30" height="30" src="assets/img/error.svg"></button>
                    </td>
                </ng-template>
            </tr>
            <!-- Modal -->
                <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-4 w-100 text-center" id="exampleModalLabel1">Mas información</h1>
                            </div>
                            <div class="modal-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead></thead>
                                        <tbody>
                                            <tr>
                                                <th>Identificacion</th>
                                                <td>{{ identificacionModal }}</td>
                                            </tr>
                                            <tr>
                                                <th>Fecha Registro</th>
                                                <td>{{ fechaRegistroModal }}</td>
                                            </tr>
                                            <tr>
                                                <th>Fecha Actualizacion</th>
                                                <td>{{ fechaActualizacionModal }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" 
                                            class="btn btn-success"
                                            data-bs-dismiss="modal">Cerrar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <!-- End modal -->
        </tbody>
    </table>
</div>