<div class="table-responsive">
    <table class="table table-bordered mt-3 mb-auto align-middle">
        <thead class="table-light">
            <tr>
                <th class="lopendeopdrachten text-center" colspan="6">Rnc Estado</th>
            </tr>
            <tr class="text-center">
                <th>Rnc</th>
                <th>Estado</th>
                <th>Autorizado a Facturar</th>
                <th>Autorizado a Solicitar Secuencia</th>
                <th>Es Grande Contribuyente</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr class="text-center">
            </tr>
        </tbody>
    </table>
</div>